/* @import url('https://cdn.jsdelivr.net/npm/tailwindcss@2.2.0/dist/tailwind.min.css'); */
@tailwind base;
@tailwind components;
@tailwind utilities;

.mm-toolbar>.mm-toolbar-item,
div>p,
details>p,
select,
summary {
  cursor: pointer;
}

.mm-toolbar>.mm-toolbar-item:nth-child(n+4)>svg {
  padding: 2px;
  width: 90%;
  height: 90%;
}

.markmap-foreign div:not(:empty)::before {
  content: '🟢';
  font-size: 10px;
  vertical-align: middle;
  padding-right: 1px;
  padding-bottom: 1px;
  display: inline-block;
}

summary svg:hover,
.folder:hover,
details p:hover {
  color: forestgreen;
}

details>p,
div>p {
  max-width: 160px;
  /* 设置最大宽度为300像素，可以根据需要调整 */
  overflow: hidden;
  /* 如果文字超过最大宽度，隐藏溢出部分 */
  white-space: nowrap;
  /* 防止文字换行 */
  text-overflow: ellipsis;
  /* 如果文字超过最大宽度，显示省略号 */
}

.text-editor textarea {
  line-height: 1.5;
}
