/* @import url('https://cdn.jsdelivr.net/npm/tailwindcss@2.2.0/dist/tailwind.min.css'); */
@tailwind base;
@tailwind components;
@tailwind utilities;

li {
  list-style-type: none;
}

.mm-toolbar>.mm-toolbar-item:nth-child(n+4)>svg {
  padding-left: 3px;
  padding-top: 2px;
  width: 90%;
  height: 90%;
  cursor: pointer;
}