/* @import url('https://cdn.jsdelivr.net/npm/tailwindcss@2.2.0/dist/tailwind.min.css'); */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: wheat;
}

.markmap-foreign div:not(:empty) {
  padding: 1px 2px 0 4px;
  border: groove .1em red;
  border-radius: .2em;
  background-color: antiquewhite;
}

li {
  list-style-type: none;
}