#root {
  width: 100%;
  height: 100vh;
  background-color: wheat;
}

.markmap-foreign div:not(:empty) {
  padding: 1px 2px 0 4px;
  border: groove .1em red;
  border-radius: .2em;
  background-color: antiquewhite;
}

.markmap-foreign div:not(:empty)::before {
  content: '';
}

.markmap-foreign strong {
  color: #1f69ca;
}